
body {
  text-align: center;
}

#hero {
  height: 100vh;
  background: url('/assets/london.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  h1 {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
  }
}

#hero-overlay {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.1)
  );
}

.button {
margin-top: 500px;
}
